<% include includes/head %>
    <% include includes/header %>
    <h3 class="label label-success">Modules - Asynchronous module definition a.k.a AMD</h3>
    <%- include('includes/useful-links',{ links : [
        {
            a:"https://en.wikipedia.org/wiki/Asynchronous_module_definition",
            name: "AMD - Wiki"
        },
        {
            a:"https://github.com/amdjs/amdjs-api/wiki/AMD#examples-",
            name: "AMD - github - examples"
        }
    ]}) %>

<% include includes/footer %>