<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/functions-iife">Functions-IIFE</a>
            <a class="navbar-brand" href="/closures">Closures</a>
            <a class="navbar-brand" href="/promises">Promises</a>
            <a class="navbar-brand" href="/http-ajax">Http and Ajax</a>
            <a class="navbar-brand" href="/modules">Modules</a>
        </div>
    </div>
</nav>
<body>
    <div class="container theme-showcase">
        <div class="jumbotron">
            <h1 class="js-title">*JavaScript Applications*</h1>
        </div>